$v-image-input-color: #2c3e50;
$v-image-input-color-hover: #e01682;
$v-image-input-background: #bd2e2e;
$v-image-input-background-hover: #381313;

$v-image-input-width: 100%;
$v-image-input-height: 100%;

$v-image-input-empty-layout-padding: 40px;
$v-image-input-border: 1px solid $v-image-input-color;
$v-image-input-border-radius: 40px !important ;
$v-image-input-object-fit: fill;

$v-image-input-rm-icon-color: #fff;
$v-image-input-rm-icon-size: 24px;
$v-image-input-rm-icon-indent: -10px;
$v-image-input-rm-icon-position: absolute;
$v-image-input-rm-icon-border-radius: 50%;
$v-image-input-rm-icon-transition: 0.3s;
$v-image-input-rm-icon-color-hover: #000;
$v-image-input-rm-icon-background: #2c3e50;
$v-image-input-rm-icon-background-hover: #4689cd;